
.menubtn{
    background-color: transparent;
    border: 1px solid $gold;
    border-radius: $radius;

}

.menubtn:hover{
   background-color: $gold;
   color: #FFFFFF;

}



.restau{
    color:$gold;
    font-family: Playfair Display;
    font-size: 45px;

    
}

.restau-font{
    font-family: Playfair Display;
    font-size: 45px;
}

.desch2{
    color: #ffffffc2;
    font-family: Open Sans;
    font-size: 19px;
}

.hero{
    z-index: 5 !important;
}


.bi-check2-all{
  color: $gold;
}

.aboutUl{
  list-style: none;
  li {
    color: rgb(192, 188, 188);
    
  }

 
}

.pAbout{
  color: rgb(192, 188, 188) !important;

}

.aboutSection , .carou {
  position: relative;
  min-height: 100vh;
  background-image: url(../../../../../public/images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;                
  align-items: center;      
  justify-content: center;     
}

.aboutSection::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000090;
  position: absolute;

}


.carou{
  background-image: url(../../../../../public/images/events-bg.jpg);
}

.content{
  position: relative;
  width: 100%;
}

.imgAbout{
width: 35vw;
border: 4px solid #d28e3698;
}
.pWhy{
  font-family: playfair display;

}
.pWhy::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $gold;
    margin: 4px 10px;
}

.hWhy{
  color: $gold;
  padding-bottom: 10vh;
 
}


.card-hover {
  position: relative; 
  background-color: rgba(17, 17, 17, 0.466);
}

.card-hover:hover{
  transition: 0.2s;
  background-color: $gold !important;
  color: black !important;
  
}



.card-content {
  position: relative; 
  transition: transform 0.3s ease; 

}

.card-hover:hover .card-content {
  transform: translateY(-12px); 
}


.pCard{
  color:#6c757d;
}


h3 , .footer-contact, .footer-col{
  font-family: playfair display
  ;
}


.menuSection , .reservationSection ,.contactSection , footer ,.specialsSection , .chefsSection , .gallerySection{
background-color: #0c0b09;
}


.menulst{
  color: #7a838b;
  font-family: playfair display;
font-weight: bold;
}
.menulst:hover{
  color: $gold;
}

.menuImg {
  width: 20%; 
  height: auto; 
  border-radius: 50%; 
  object-fit: cover; 
}


.price{
  color: $gold;
}



input[type="number"]::placeholder {
  color: #1d1d1f !important;
 
}

input[type="date"]::placeholder{
  color: #1d1d1f !important;

}
.inputForm::placeholder{
  font-weight: 480;
}
.inputForm:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid $gold !important; 
}

.btne{
  border: 2px solid $gold !important;
}

.btne:hover{
 
background-color: $gold !important;
color: white !important;

}

.loc{
  background-color: $gold;
}

.v2{
  border:1px solid $gold;
}

.ul-ftr{
  font-family: open sans;
  font-size: 13.5px;
}

.sub{
  background-color: $gold;
  font-family: open sans;
 border: 1px solid transparent;
//  padding: 1vh;
}

.new{
  width: fit-content;
}

.bootstrap{
  color: $gold;
}






.menuu .col-12 {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.menuu .col-12.hidden {
  opacity: 0;
  transform: translateY(10px); 
  display: none; 
}




.nav-tabs{
  border-right: 3px solid $gold;
}

.nav-link.active{
  color: black !important;
  background-color: $gold !important;
} 

.tab {
    display: none;
  }
  .tab.active {
    display: block;
  }








.member {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.member img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.member::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.651), transparent);
  transition: top 0.4s ease;
  z-index: 1;
}

.member:hover::before {
  top: 0;
}

.member-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; 
  padding: 20px;
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
}

.member:hover .member-info {
  transform: translateY(0);
}

.member-info-content {
  text-align: center;
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.member:hover .social {
  opacity: 1;
}

.social a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}




.gallery-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease; /* Transition for scaling */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Keep aspect ratio and cover entire area */
  transition: transform 0.3s ease; /* Transition for zooming */
}

.gallery-item:hover img {
  transform: scale(1.1); /* Zoom in effect */
}



.carousel-img{
  width: 100%;
}

.bi-check2-circle{
  color: $gold !important;
}





@media (max-width: 428px) {
  .imgAbout{
    width: 100% ;
    }

    .col-12 {
      display: flex;
      justify-content: center;
      margin-bottom: 2vh;
    }

    .localisation{
      width: 100%  !important;
    }
}

